@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 60 3% 6%;
    --foreground: 0 0% 98%;

    --card: 60 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 60 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 45 97% 49%;
    --primary-foreground: 0 0% 2%;

    --secondary: 45 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 40 5% 22%;
    --muted-foreground: 45 5% 49%;

    --accent: 45 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 5% 12%;
    --input: 45 4% 18%;
    --ring: 45 97% 40%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 60 3% 6%;
    --foreground: 0 0% 98%;

    --card: 60 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 60 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 45 97% 49%;
    --primary-foreground: 0 0% 2%;

    --secondary: 45 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 40 5% 22%;
    --muted-foreground: 45 5% 49%;

    --accent: 45 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 5% 12%;
    --input: 45 4% 18%;
    --ring: 45 97% 40%;
  }
}


@layer base {
  * {
    @apply border-border;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: theme('colors.border');
      border-radius: 9999px;
    }
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
    padding: 0;
    height: 100%
  }
  input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      /* Adjust the transition properties to an extremely long duration to effectively disable it */
      transition:
      background-color 500000s ease-in-out 0s,
      color 500000s ease-in-out 0s;
    }
  }
}